body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/881/original/coconut_field.jpg?1662755703");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 600px;
}
.layout {
  border: 3px;
  border-style: groove;
  border-color: #fff;
  border-radius: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 380px;
  width: 650px;
  padding: 10px;
}

.search {
  font-size: larger;
  display: block;
  margin-top: 50px;
  margin-left: 20px;
}
button {
  background-color: #869068;
  border-radius: 50px;
  border-color: #869068;
  font-size: larger;
  color: #fff;
  margin: 12px;
  margin-left: 80px;
  padding: 5px 10px;
  opacity: 0.7;
  box-shadow: 5px solid gray;
}

button:hover {
  background-color: skyblue;
  color: indigo;
  transition: 200ms ease-in-out;
}

ul {
  list-style: none;
  color: #fff;
}
.quotes-top {
  color: #fff;
  position: fixed;
  margin-top: -140px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px 20px;
  font-family: "Combo", cursive;
}
