body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/881/original/coconut_field.jpg?1662755703");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
