body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/881/original/coconut_field.jpg?1662755703");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 600px;
}
.layout {
  border: 3px;
  border-style: inset;
  border-color: #fff;
  border-radius: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 380px;
  width: 650px;
}

.search {
  font-size: larger;
  display: block;
  margin-top: 50px;
  margin-left: 20px;
}
